<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rs2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RS2">
        <activity android:name=".displaydate"></activity>
        <activity android:name=".week4" />
        <activity android:name=".week3" />
        <activity android:name=".week2" />
        <activity android:name=".options2" />
        <activity android:name=".week1" />
        <activity android:name=".weekoptions" />
        <activity android:name=".timepicker" />
        <activity android:name=".datepicker" />
        <activity android:name=".signup2" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>